footer{
    background-color: rgb(48, 44, 44);
    color: $white-color;
    margin-top: -20px;
    padding-bottom: 20px;
    padding-top: 20px;
    a ,h2{
      @include items-position($justify:unset, $direction:unset);
      gap: 10px;
      @include link-style;
      margin-left: 5%;
      width: fit-content;
    }
    h2{
      font-family: $font-shrikland;
    }
    p{
      margin: 5px;
    }

  }
  
  