* {
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*variables*/
/*mixings*/
/*keyframe*/
@keyframes checked-round {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes spinner {
  from {
    transform: rotate(360deg);
    opacity: 1;
  }
  to {
    transform: rotate(0);
    opacity: 0.5;
  }
}
@keyframes checked-out {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes menu-appear {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loading {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
@keyframes heart-grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.load {
  animation: loading 1s 3s ease-in-out;
  animation-fill-mode: forwards;
  background-color: white;
  z-index: 1;
  position: fixed;
  inset: 0;
  opacity: 1;
  display: grid;
  place-items: center;
}
.load::before {
  content: " ";
  animation: spinner 3s ease-in-out forwards;
  width: 80px;
  height: 120px;
  border-left: 15px solid #9356DC;
  border-right: 15px solid #FF79DA;
  border-radius: 50%;
}

body {
  margin: 0;
}
body header {
  display: grid;
  place-items: center;
  height: 80px;
  box-shadow: 0 0 4px grey;
  position: relative;
  margin: 0;
}
body header h1 {
  font-family: Shrikhand, sans-serif;
}

main .location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: unset;
  background-color: #f7f4f4;
  gap: 10px;
}
main .location i {
  font-size: large;
}

section .discover {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 220px;
  background-color: #fdf7f7;
}
section .discover p {
  width: 90%;
}
section .discover-button {
  padding: 15px 30px;
  border-radius: 30px;
  background-image: linear-gradient(To bottom, #FF79DA, #9356DC);
  border: none;
  font-size: large;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 3px grey;
  transition: 50ms;
}
section .discover-button:active, section .discover-button:hover {
  transform: scale(1.01);
  opacity: 90%;
}

.functioning {
  margin-right: 5%;
}
.functioning h2 {
  padding-left: 30px;
}
.functioning ol {
  display: flex;
  align-items: unset;
  justify-content: unset;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0;
}
@media screen and (min-width: 992px) {
  .functioning ol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
.functioning ol li {
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  background-color: #f7f4f4;
  list-style: none;
  position: relative;
  font-weight: 500;
  font-size: large;
  cursor: pointer;
  box-shadow: 1px 1px 3px grey;
  transition: 50ms;
}
.functioning ol li i {
  margin-right: 15px;
  opacity: 0.5;
}
.functioning ol li:hover {
  background-color: #e4d5f6;
}
.functioning ol li:hover i {
  color: #9356DC;
}
.functioning ol li .serial-number {
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  color: white;
}

.restaurants {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-direction: column;
  background-color: #f7f4f4;
  width: 100%;
  padding-bottom: 100px;
}
.restaurants h2 {
  text-align: left;
  width: 90%;
}
.restaurants a {
  text-decoration: none;
  color: inherit;
}
.restaurants .restaurant {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  width: 90%;
  gap: 20px;
}
@media screen and (min-width: 992px) {
  .restaurants .restaurant {
    grid-template-columns: repeat(2, 49%);
  }
}
.restaurants .restaurant-card {
  cursor: pointer;
  box-shadow: 1px 1px 3px grey;
  transition: 50ms;
  display: flex;
  align-items: unset;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  background-color: white;
}
.restaurants .restaurant-card:active {
  transform: scale(1.01);
  opacity: 90%;
}
@media screen and (min-width: 992px) {
  .restaurants .restaurant-card:hover {
    transform: scale(1.01);
    opacity: 90%;
  }
}
.restaurants .restaurant-card--image img {
  object-fit: cover;
  width: 100%;
  height: 240px;
}
.restaurants .restaurant-card--image .new {
  display: grid;
  place-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: #1b6150;
  border-radius: 5px;
}
.restaurants .restaurant-card--description {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-50%);
  position: relative;
}
.restaurants .restaurant-card--description h3,
.restaurants .restaurant-card--description p {
  height: 10px;
  width: 95%;
  margin-bottom: 0;
}
.restaurants .restaurant-card--description i.far,
.restaurants .restaurant-card--description i.fas {
  position: absolute;
  font-size: x-large;
  right: 20px;
  top: 20px;
}
.restaurants .restaurant-card--description i.fas {
  opacity: 0;
  color: #9356DC;
}
.restaurants .restaurant-card--description i.fas:active, .restaurants .restaurant-card--description i.fas:hover {
  animation: heart-grow 500ms 0ms ease forwards;
  opacity: 1;
}

footer {
  background-color: #302c2c;
  color: white;
  margin-top: -20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
footer a,
footer h2 {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-direction: unset;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  margin-left: 5%;
  width: fit-content;
}
footer h2 {
  font-family: Shrikhand, sans-serif;
}
footer p {
  margin: 5px;
}

header .logo {
  width: 100%;
}
header .logo i {
  margin-left: 20px;
  height: 100%;
  position: absolute;
  font-size: x-large;
  display: grid;
  place-items: center;
}
header .logo h1 {
  width: 100%;
  display: grid;
  place-items: center;
}

.menu-card {
  height: 70vh;
  margin: 0;
}
.menu-card--image {
  object-fit: cover;
  height: 60vh;
  width: 100%;
  margin: 0;
}
.menu-card--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  width: 100%;
  bottom: 50px;
  height: 20vh;
  background-color: #eeeeee;
  border-radius: 50px 50px 0 0;
  padding-bottom: 30px;
}
.menu-card--title h2 {
  font-family: Shrikhand, sans-serif;
  font-size: xx-large;
  margin-left: 20px;
  width: 100%;
}
.menu-card--title i.fas,
.menu-card--title i.far {
  position: absolute;
  font-size: xx-large;
  right: 20px;
  cursor: pointer;
}
.menu-card--title i.fas {
  opacity: 0;
  color: #9356DC;
}
.menu-card--title i.fas:active, .menu-card--title i.fas:hover {
  animation: heart-grow 500ms 0ms ease forwards;
  opacity: 1;
}

.menus {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 40px;
  background-color: #eeeeee;
  padding: 20px;
  position: relative;
}
@media screen and (min-width: 992px) {
  .menus {
    grid-template-columns: repeat(3, 31%);
    padding-left: 5%;
    padding-right: 5%;
  }
}
.menus h3 {
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-weight: 400;
  margin-top: 0;
}
.menus .menu {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
}
.menus .menu-grid {
  animation: menu-appear 2000ms ease-in-out both;
  animation: menu-appear 2000ms ease-in-out both;
  animation: menu-appear 2000ms ease-in-out both;
  animation: menu-appear 2000ms ease-in-out both;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 1px 1px 3px grey;
  transition: 50ms;
  cursor: pointer;
  height: 70px;
}
.menus .menu-grid:nth-child(1) {
  animation-delay: 500ms;
  animation-fill-mode: both;
}
.menus .menu-grid:nth-child(2) {
  animation-delay: 1000ms;
  animation-fill-mode: both;
}
.menus .menu-grid:nth-child(3) {
  animation-delay: 1500ms;
  animation-fill-mode: both;
}
.menus .menu-grid:nth-child(4) {
  animation-delay: 2000ms;
  animation-fill-mode: both;
}
.menus .menu-grid .price {
  height: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 20px;
  font-weight: 900;
}
.menus .menu-grid--text {
  width: 100%;
  overflow: hidden;
}
.menus .menu-grid--text h4,
.menus .menu-grid--text p {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}
.menus .menu-grid--text h4 {
  font-size: 20px;
}
.menus .menu-grid--check {
  display: grid;
  place-items: center;
  color: white;
  height: 100%;
  border-radius: 0 20px 20px 0;
  width: 80px;
  background-color: #99E2D0;
  margin-right: -20%;
  font-size: x-large;
  transition: margin-right 1000ms;
}
.menus .menu-grid--check i {
  animation: checked-out 1s ease;
}
.menus .menu-grid:active .menu-grid--check, .menus .menu-grid:hover .menu-grid--check {
  margin-right: 0;
}
.menus .menu-grid:active .menu-grid--check i, .menus .menu-grid:hover .menu-grid--check i {
  animation: checked-round 1s ease;
}
.menus .menu-grid:hover > .price {
  animation: checked-round 1s ease-in-out;
}

.order {
  width: 80vw;
  text-align: center;
  margin-bottom: 50px;
  background-color: #eeeeee;
}
.order button {
  padding: 15px 30px;
  border-radius: 30px;
  background-image: linear-gradient(To bottom, #FF79DA, #9356DC);
  border: none;
  font-size: large;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 3px grey;
  transition: 50ms;
}
.order button:active, .order button:hover {
  transform: scale(1.01);
  opacity: 90%;
}

/*# sourceMappingURL=style.css.map */
