/*mixings*/

@mixin items-position(
  $display: flex,
  $align: center,
  $justify: center,
  $direction: column
) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin btn-zoom {
  transform: scale(1.01);
  opacity: 90%;
}
@mixin btn-shade {
  cursor: pointer;
  box-shadow: 1px 1px 3px $grey-color;
  transition: 50ms;
}

@mixin link-style {
  text-decoration: none;
  color: inherit;
}
@mixin grid-center {
  display: grid;
  place-items: center;
}
@mixin heart-design {
  i.fas {
    opacity: 0;
    color: $primary-color;
    &:hover,
    &:active {
      animation: heart-grow 1000ms ease-in-out;
      opacity: 1;
    }
  }
}
