/*variables*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$white-color: white;
$grey-color: grey;
$light-grey:#f7f4f4;
$gradient-color:  linear-gradient(To bottom, $secondary-color, $primary-color);
$font-shrikland:  Shrikhand, sans-serif;
$num-menu:4;